name: Docker build

on:
  workflow_dispatch:
  schedule:
    # Every Friday at 1:00 p.m. UTC
    - cron: '0 13 * * 5'
  push:
    branches:
      - master
    tags:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          # We need full history in order to create a version string (BuildInfo.h)
          fetch-depth: 0

      - name: Checkout submodules
        run: |
          git submodule sync --recursive
          git submodule update --init --force --recursive --depth=1

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get version
        run: echo "VERSION=$(git describe --tags)" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # (Release) Build the server for both x86_64 and arm64 platforms
      - name: Build and push release image
        if: github.ref_type == 'tag'
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/st-reborn-server:${{ env.VERSION }}
            ${{ secrets.DOCKERHUB_USERNAME }}/st-reborn-server:latest
          labels: |
            org.opencontainers.image.title=Skyrim Together Server
            org.opencontainers.image.source=${{ github.repository }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.version=${{ env.VERSION  }}

      # (Weekly) Build the server for both x86_64 and arm64 platforms
      - name: Build and push weekly image
        if: github.event_name == 'schedule'
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/st-reborn-server:weekly-latest
          labels: |
            org.opencontainers.image.title=Skyrim Together Server
            org.opencontainers.image.source=${{ github.repository }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.version=${{ env.VERSION }}