name: Build windows

on:
  pull_request:
  push:
    branches:
      - master
      - prerel
      - tests

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest]
        arch: [x64]

    runs-on: ${{ matrix.os }}
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout submodules
        run: |
          git submodule sync --recursive
          git submodule update --init --force --recursive --depth=1

      - name: Checkout master on tag push
        if: github.ref_type == 'tag'
        run: (git rev-parse HEAD) -eq (git rev-parse origin/master) -and (git checkout master)

      - name: Clean xmake cache
        run: |
          Remove-Item -Path "$env:USERPROFILE\AppData\Local\.xmake\packages" -Recurse -Force -ErrorAction SilentlyContinue

      - name: Setup xmake
        uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: 2.9.8
          package-cache: false
          build-cache: false

      - name: Install Lua
        run: |
          choco install lua -y
          refreshenv

      - name: Configure xmake and install dependencies
        run: xmake config --arch=${{ matrix.arch }} --mode=releasedbg --yes -vD

      - name: Build with xmake
        run: |
          xmake -y
          echo "STR_BUILD_DIR=build/windows/${{ matrix.arch }}/releasedbg/" >> $env:GITHUB_ENV

      - name: Output distrib binaries via xmake
        run: |
          xmake install -o distrib
          cp -Force -Recurse distrib/bin/* ${{ env.STR_BUILD_DIR }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/iron

      - name: Build the UI
        run: |
          pnpm --prefix Code/skyrim_ui/ install
          pnpm --prefix Code/skyrim_ui/ deploy:production
          cp -r Code/skyrim_ui/dist/UI ${{ env.STR_BUILD_DIR }}

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-build-${{ matrix.arch }}
          path: ${{ env.STR_BUILD_DIR }}
